#### Strings in Python are created by enclosing characters/text/sentences with single or double quotes or triple quotes

Simple String

In [1]:
'Hi'

'Hi'

Using print function to print a string

#### Print - It is a function used to print the specified input inside it as a display output

In [2]:
print("Python-PowerOn")

Python-PowerOn

#### Print function can also print variables....

What is a variable ??

variable is simply used to store data in python and takes up some memory space for storage.

Example of a variable

In [3]:
a=10
a

10

In the above example **a** is variable

-------------------------------------------------------------------------------------------------------------------------------

Storing a sentence in a variable and printing it

In [4]:
new_text="Store python string in a variable and print it"
print(new_text)

Store python string in a variable and print it

*Exploring the print function*

print(object,sep=*separator*,end=*end*,file=*file*,flush=*flush*)

object = Any object/input we want to be printed

sep='separator' - used to specify on how to separate the string printed
* Optional
* Default is ''

end='end' let's us define what to print at end
* Optional
* Default is "\n"
* \n is used to jump to new line

file='file' used for an object with write method

* Optional
* Default is sys.stdout

flush is used to handle internal buffers while opening a file or printing a sequence of characters 

* Default is False - the output will be buffered i.e. it will be written at once

* If True - the output will be written one at a time and the process is slower

In [5]:
print("Hello","welcome",sep='-',end='.')

Hello-welcome.

So in the above print there are two objects **"Hello"** and **"Welcome"**

The separator used to separate those words is *-* and the entire string is made to end with a full stop *.*

#### Accessing a string

In [6]:
txt='access a string'
txt

'access a string'

access the first character

In [7]:
txt[0]

'a'

access last character

In [8]:
txt[-1]

'g'

access first 3 characters

In [9]:
txt[:3]

'acc'

access last 3 characters

In [10]:
txt[-3:]

'ing'

### Replacing characters in a string`

In [11]:
txt.replace('a','#')

'#ccess # string'

In [12]:
txt

'access a string'

to replace the new values permanently in the string assign it back to the same varaible name like the below

In [13]:
txt=txt.replace('a','#')
txt

'#ccess # string'

In [14]:
txt

'#ccess # string'

#### length of a string

In [15]:
len(txt)

15

#### Looping thorugh a string

In [16]:
for i in txt:
    print(i)

#
c
c
e
s
s

#

s
t
r
i
n
g

#### Checking in a string

In [17]:
print("string" in txt)

True

In [18]:
print("hi" in txt)

False

#### check if not in string

In [19]:
print("hi" not in txt)

True

#### Upper Case

In [20]:
txt.upper()

'#CCESS # STRING'

#### Lower Case

In [21]:
txt.lower()

'#ccess # string'

#### Remove Whitespace at the beginning and end

In [22]:
new_txt=" new string characters  "

In [23]:
new_txt.strip()

'new string characters'

##### Concatenate strings

In [24]:
txt1="Greetings:"
txt2='Hello'

print(txt1+" "+txt2)

Greetings: Hello

### Format strings

We cannot directly combine strings and numbers but format() helps tackle it

In [25]:
km=20
strg='The destination is'
print(strg+km)

TypeError: can only concatenate str (not "int") to str

In [26]:
km=20
strg='The destination is {}km'
print(strg.format(km))

The destination is 20km

In [27]:
km=20
hr=1.5
strg='The destination is {}km and can be reached in {} hours'
print(strg.format(km,hr))

The destination is 20km and can be reached in 1.5 hours

In [28]:
'The destination is {}km and can be reached in {} hours'.format(km,hr)

'The destination is 20km and can be reached in 1.5 hours'

Another way of fromatting is using index positions

In [29]:
km=20
hr=1.5
strg='The destination is {1}km and can be reached in {0} hours'
print(strg.format(hr,km))

The destination is 20km and can be reached in 1.5 hours

In [30]:
km=20
hr=1.5
strg='The destination is {0}km and can be reached in {1} hours'
print(strg.format(hr,km))

The destination is 1.5km and can be reached in 20 hours

In [31]:
price=51
stmnt='The price of cookie is {:.2f}'
print(stmnt.format(price))

The price of cookie is 51.00

In [32]:
price=51
stmnt='The price of cookie is {:.0%}'
print(stmnt.format(price/100))

The price of cookie is 51%

How to print an apostrophe?

Use the escape character \

In [33]:
'Let\'s begin'

"Let's begin"

In [34]:
"The temperature is {tmp} degree celsius".format(tmp=32)

'The temperature is 32 degree celsius'

In [35]:
"The temperature is {} degree celsius".format(32)

'The temperature is 32 degree celsius'

In [36]:
tmp=32
"The temperature is {} degree celsius".format(tmp)

'The temperature is 32 degree celsius'

Left Align

In [37]:
a="print 10 blank spaces after the number {:<10} "
a.format(20)

'print 10 blank spaces after the number 20         '

Right Align

In [38]:
b="print 10 blank spaces before the number {:>10}"
b.format(23)

'print 10 blank spaces before the number         23'

To check in details get the length of empty spaces alone, refer the below example

In [39]:
a1="{:>10}"
a1.format("")

'          '

In [40]:
len(a1.format(""))

10

Center Align

Center align's in between the white spaces

In [41]:
c="center align {:^10}"
c.format(10)

'center align     10    '

Placing minus/plus sign to the left side of the input variable

In [42]:
d="Temperature is {:=} degree celsius"
d.format(-10)

'Temperature is -10 degree celsius'

In [43]:
d1="Temperature is {:=} degree celsius"
d1.format(+10)

'Temperature is 10 degree celsius'

*plus won't reflect any sign*

Using plus sign to indicate if the resultant values is positive or negative

In [44]:
e="The numbers are between {:+} and {:+}"
e.format(-7,7)

'The numbers are between -7 and +7'

Minus sign for negative values

In [45]:
f="The numbers are between {:-} and {:-}"
f.format(-5,6)

'The numbers are between -5 and 6'

Using space to insert empty space before positive numbers and - sign before negative numbers

In [46]:
g="The numbers are {:} and {:}"
g.format(10,-2)

'The numbers are 10 and -2'

Use coma as thousands separator

In [47]:
k="It is worth {:,}"
k.format(1000000000)

'It is worth 1,000,000,000'

Using underscore as thousands separtor

In [48]:
l="Net worth {:_}"
l.format(100000000)

'Net worth 100_000_000'

binary format

In [49]:
m="The binary value of {} is {:b}"
m.format(2,2)

'The binary value of 2 is 10'

Conversion of number into float type i.e. decimal format

In [50]:
n="The decimal form of {} is {:.1f}"
n.format(12,12)

'The decimal form of 12 is 12.0'

Indefinite decimal points

In [51]:
o="The decimal form of {} is {:f}"
o.format(12,12)

'The decimal form of 12 is 12.000000'

Percentage format

In [52]:
p="The maximum is {:%}"
p.format(1)

'The maximum is 100.000000%'

In [53]:
p1="The maximum is {:.2%}"
p1.format(1)

'The maximum is 100.00%'

In [54]:
p2="The maximum is {:.0%}"
p2.format(1)

'The maximum is 100%'

In [55]:
p3="The maximum is {:.0%}"
p3.format(0.25)

'The maximum is 25%'

To insert strings use %s

In [56]:
q="It's is %s"%('Python')
q

"It's is Python"

To insert numbers use %d

In [57]:
r="The number is %d"%(3)
r

'The number is 3'

To insert floating points use %f

In [60]:
s="The number is %f"%(4)
s

'The number is 4.000000'

In [61]:
s1="The number is %.2f"%(4)
s1

'The number is 4.00'

In [65]:
t="The programming language name is %s and the version is %.1f"%('Python',3.9)
t

'The programming language name is Python and the version is 3.9'

Another way of using format

In [66]:
word="Hi"
stmt_txt=f"Greetings: {word}"
stmt_txt

'Greetings: Hi'

#####~~~~#####