# List

List is a data structure that stores elements separated by comma in an ordered sequence and enclosed using square brackets.

It is non-scalar and mutable.

List can store heterogeneous types of elements.

#### Introduction to List

In [1]:
# Initialize a new list with heterogeneous elements

l = [1,True,"New List",2+4j,10.5]
l

[1, True, 'New List', (2+4j), 10.5]

In [2]:
l1 = [1,True,"New List",2+4j,10.5,"New List"]
l1

# List allows Duplicates

[1, True, 'New List', (2+4j), 10.5, 'New List']

In [3]:
# Using list constructor to construct list
# list()

l2 = list(('A','B',1,2)) 
l2

['A', 'B', 1, 2]

In [4]:
# Nested List
l3 = [l1,l2]
l3

[[1, True, 'New List', (2+4j), 10.5, 'New List'], ['A', 'B', 1, 2]]

#### Accessing elements in a List

In [5]:
# using list l2
l2

['A', 'B', 1, 2]

In [6]:
# return first element of l2
l2[0]

'A'

In [7]:
# return fourth element in the list
l2[3]

2

In [8]:
# return first element from the last/right
l2[-1]

2

In [9]:
# Obtain length of the list and store in variable n
n=len(l2)
n

4

In [10]:
# last element of l2
l2[n-1]

2

In [11]:
# first elemnet
l2[-n]

'A'

In [12]:
# second last element of l2
l2[n-2]

1

In [13]:
# lists are mutable - Let's Check it out
l2

['A', 'B', 1, 2]

In [14]:
# change/override the second element of l2
l2[1]='C'
l2 #print modified list

['A', 'C', 1, 2]

In [15]:
# Replace first and second element with 'None'
l2[0:2]=['None']
l2

['None', 1, 2]

In [16]:
# replace 'None' with split of each characters of 'None' in the list
l2[0:1]='None'
l2

['N', 'o', 'n', 'e', 1, 2]

#### List Operations

In [17]:
# There exist a wide range of operations through which contents in list can be twisted and turned

Concatenation

In [18]:
l1

[1, True, 'New List', (2+4j), 10.5, 'New List']

In [19]:
l2

['N', 'o', 'n', 'e', 1, 2]

In [20]:
# Concatenation of l1 and l2
l1+l2

[1, True, 'New List', (2+4j), 10.5, 'New List', 'N', 'o', 'n', 'e', 1, 2]

Repetition

In [21]:
l4 = ['Welcome']
l4*4

['Welcome', 'Welcome', 'Welcome', 'Welcome']

Membership

In [22]:
# The membership operator 'in' checks if the element is present in the list and returns True, else returns False. 
# Vice versa,for 'not in'

In [23]:
l1

[1, True, 'New List', (2+4j), 10.5, 'New List']

In [24]:
1 in l1

True

In [25]:
10 in l1

False

In [26]:
'New List ' in l1

False

In [27]:
2+4j in l1

True

Slicing

In [28]:
l1

[1, True, 'New List', (2+4j), 10.5, 'New List']

In [29]:
l1[1:4]

[True, 'New List', (2+4j)]

In [30]:
# l1 is truncated to the end of the list
l1[2:30]

['New List', (2+4j), 10.5, 'New List']

In [31]:
# If first index > second index
l1[4:1]

# it returns an empty list

[]

In [32]:
# slicing with step size
l1[1::2]

[True, (2+4j), 'New List']

In [33]:
# Negative Indexes
l1[-5:-1]

[True, 'New List', (2+4j), 10.5]

In [34]:
# Both first and last index not given without step size 
l1[:]

[1, True, 'New List', (2+4j), 10.5, 'New List']

In [35]:
# Both first and last index not given with step size
l1[::2]

[1, 'New List', 10.5]

In [36]:
# Negative step size
l1[::-1] # -1 step size can also be used to reverse a list

['New List', 10.5, (2+4j), 'New List', True, 1]

In [37]:
l1[::-2]

['New List', (2+4j), True]

Traversing a list

In [38]:
# A list can be traversed using for loop or while loop

In [39]:
# for loop

for i in l1:
    print(i)

1
True
New List
(2+4j)
10.5
New List

In [40]:
# While loop

i = 0
while i < len(l1):
    print(l1[i])
    i += 1

1
True
New List
(2+4j)
10.5
New List

List Methods and Built-In Functions

len()

In [41]:
l5 =  [10,20,30,40,50]
len(l5)

5

list()

In [42]:
txt = 'Hello Python'
l6 = list(txt)
l6

['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [43]:
l7 = list()
l7 # returns empty list

[]

append()

In [44]:
l5.append(60)
l5

[10, 20, 30, 40, 50, 60]

In [45]:
l5.append([70,80])
l5

[10, 20, 30, 40, 50, 60, [70, 80]]

extend()

In [46]:
l5.extend([90,100])
l5

[10, 20, 30, 40, 50, 60, [70, 80], 90, 100]

insert()

In [47]:
l5.insert(2,25)
l5

[10, 20, 25, 30, 40, 50, 60, [70, 80], 90, 100]

index()

In [48]:
l5.index(60)

6

count()

In [49]:
l7 = [10, 10, 20, 25,50, 30, 40, 50,30, 60, 70, 30, 30, 80, 50, 90, 100]
l7.count(30)

4

remove()

In [50]:
l7.remove(10)
l7

[10, 20, 25, 50, 30, 40, 50, 30, 60, 70, 30, 30, 80, 50, 90, 100]

pop()

In [51]:
l7.pop()

100

In [52]:
l7

[10, 20, 25, 50, 30, 40, 50, 30, 60, 70, 30, 30, 80, 50, 90]

In [53]:
l7.pop(2)

25

In [54]:
l7

[10, 20, 50, 30, 40, 50, 30, 60, 70, 30, 30, 80, 50, 90]

reverse()

In [55]:
l7.reverse()
l7

[90, 50, 80, 30, 30, 70, 60, 30, 50, 40, 30, 50, 20, 10]

sort()

In [56]:
l7.sort()
l7

[10, 20, 30, 30, 30, 30, 40, 50, 50, 50, 60, 70, 80, 90]

In [57]:
l7.sort(reverse=True)
l7

[90, 80, 70, 60, 50, 50, 50, 40, 30, 30, 30, 30, 20, 10]

sorted()

In [58]:
l8 = sorted(l7)
l8

[10, 20, 30, 30, 30, 30, 40, 50, 50, 50, 60, 70, 80, 90]

min()

In [59]:
min(l7)

10

max()

In [60]:
max(l7)

90

sum()

In [61]:
sum(l7)

640

#### Nested Lists

In [62]:
# l5 is a nested list
l5

[10, 20, 25, 30, 40, 50, 60, [70, 80], 90, 100]

In [63]:
# Access the list inside a list
l5[7]

[70, 80]

In [64]:
# Access elements iside a nested list
l5[7][1]

80

#### Copying Lists

Direct copy via assign method

In [65]:
l9 = [1,2,3]
l10 = l9
l10

[1, 2, 3]

In [66]:
# In the above scenario the l10 is not actaully copied to l9 rather it's linked. 
# Any change to l9 will reflect in l10 and vice-versa in l9.

In [67]:
l9.insert(-1,10)
l9

[1, 2, 10, 3]

In [68]:
l10

[1, 2, 10, 3]

In [69]:
l10[0] = 0
l10

[0, 2, 10, 3]

In [70]:
l9

[0, 2, 10, 3]

In [71]:
# Methods to copy list as a distinct object

In [72]:
# Slicing
l10 = l9[:]
l10

[0, 2, 10, 3]

In [73]:
l9

[0, 2, 10, 3]

In [74]:
l9.append(11)
print('l9:',l9)
print('l10:',l10)

l9: [0, 2, 10, 3, 11]
l10: [0, 2, 10, 3]

In [75]:
# list() function
l10 =  list(l9)
l10

[0, 2, 10, 3, 11]

In [76]:
l9

[0, 2, 10, 3, 11]

In [77]:
l10.extend([20])
print('l9:',l9)
print('l10:',l10)

l9: [0, 2, 10, 3, 11]
l10: [0, 2, 10, 3, 11, 20]

In [78]:
# copy function

# Shalllow copy creates a reference only to the "nested objects" in it.

l10 = l9.copy()
l10

[0, 2, 10, 3, 11]

In [79]:
l9

[0, 2, 10, 3, 11]

In [80]:
l9.pop()
l9

[0, 2, 10, 3]

In [81]:
l10

[0, 2, 10, 3, 11]

In [82]:
# let's try with a nested list in l9

l9 = [1,2,3,[4,5],6]
l10 = l9.copy()
print('l9:',l9)
print('l10:',l10)

l9: [1, 2, 3, [4, 5], 6]
l10: [1, 2, 3, [4, 5], 6]

In [83]:
l9[3][0] = 10
l9

[1, 2, 3, [10, 5], 6]

In [84]:
l10

[1, 2, 3, [10, 5], 6]

In [85]:
l10[3][1] = 11
l10

[1, 2, 3, [10, 11], 6]

In [86]:
l9

[1, 2, 3, [10, 11], 6]

In [87]:
# whereas changing anything outside the nested object doesn't have an impact on the other list
l9[0] = 100
l9

[100, 2, 3, [10, 11], 6]

In [88]:
l10

[1, 2, 3, [10, 11], 6]

In [89]:
# Deep Copy
import copy
print('l9:',l9)

l9: [100, 2, 3, [10, 11], 6]

In [90]:
l10 = copy.deepcopy(l9)
l10

[100, 2, 3, [10, 11], 6]

In [91]:
l9[3][0] = 1
l9

[100, 2, 3, [1, 11], 6]

In [92]:
l10

[100, 2, 3, [10, 11], 6]

In [93]:
# The above lines of code for deep copy indicate that l10 is standalone and doesn't have any linking to l9

List as Argument to a function

In [94]:
# There are two scenarios to be considered if a list is passed as an argument to function

In [95]:
# 1. Elements of the original list may be changed, i.e. changes made to the list in the function are reflected back in calling
# the function

In [96]:
# Example Program
# Programt to increment the elements of a list. This list is passed as an argument to a function.

def increment(inpt_list,num):
    for i in range(0,len(inpt_list)):
        inpt_list[i] += num
    print(inpt_list)

In [97]:
arg_list = [1,2,3]
print('list before function call:',arg_list)

list before function call: [1, 2, 3]

In [98]:
# Funcntion call and the list is returned with the new values
increment(arg_list,5)

[6, 7, 8]

In [99]:
# Changes due to function call reflect in the actual list as well
print(arg_list)

[6, 7, 8]

In [100]:
# When a list is passed as an argument, we actually pass the reference to the list.(This can be found using reference id)
# Therefore, any change made to the list inside the function is reflected in the actual list created outside before.

In [101]:
# 2. If the list is assigned a new value inside the function then a new list object is created and it becomes the local copy 
# of the function. Any changes made inside the local copy of the function are not reflected back to the calling function.

In [102]:
# Example Program
# Program to increment the elemenets of the list passed as parameter

In [103]:
def increment1(my_list):
    print("Reference id before assignment",id(my_list))    
    my_list = [10,20,30,40]
    print("Reference id after assignment",id(my_list))
    print(my_list)

In [104]:
my_list1 = [15,25,35,45]
increment1(my_list1)

Reference id before assignment 2102371379648
Reference id after assignment 2102371947520
[10, 20, 30, 40]

In [105]:
# Reference id changes as the local copy inside fucntion has changed

In [106]:
print(my_list1)

[15, 25, 35, 45]

In [107]:
# --------------------------------------------------------------------------------- #

In [108]:
# Add-on
# identify a data structure's type
print(type(l))

<class 'list'>