Set is unordered collection of objects without any duplicates

An object of type set may be created by enclosing the elements of the set within curly brackets.

Set object can also be created using the set fucntion to lists, strings and tuples

In [1]:
# Creating a set
s1 = {'Travel','Tour','Places'}
s1

{'Places', 'Tour', 'Travel'}

In [2]:
s2 = set('aeiou')
s2

{'a', 'e', 'i', 'o', 'u'}

#### Set Operations

In [3]:
s3 = {0,1,2,3,4}
s3

{0, 1, 2, 3, 4}

add

In [4]:
s3.add(5)
s3

{0, 1, 2, 3, 4, 5}

In [5]:
s3.add((6,7))

In [6]:
s3

{(6, 7), 0, 1, 2, 3, 4, 5}

update

In [7]:
s3.update([6,7,8]) # update list as an argument ot the set
s3

{(6, 7), 0, 1, 2, 3, 4, 5, 6, 7, 8}

remove

In [8]:
s3.remove((6,7))

In [9]:
s3

{0, 1, 2, 3, 4, 5, 6, 7, 8}

clear

In [10]:
s3.clear()

In [11]:
s3

set()

#### Set Functions

Union

In [12]:
vegetables = {'Cucumber','Potato','Tomato','Watermelon','Cauliflower'}
fruits = {'Apple','Orange','Tomato','Cucumber','Watermelon'}

In [13]:
union_set = vegetables.union(fruits)
union_set

{'Apple',
 'Cauliflower',
 'Cucumber',
 'Orange',
 'Potato',
 'Tomato',
 'Watermelon'}

In [14]:
# Alternatively, "|" can be used for union
vegetables | fruits

{'Apple',
 'Cauliflower',
 'Cucumber',
 'Orange',
 'Potato',
 'Tomato',
 'Watermelon'}

Intersection

In [15]:
common_set = vegetables.intersection(fruits)
common_set

{'Cucumber', 'Tomato', 'Watermelon'}

In [16]:
# Alternatively, "&" can be used for intersection

In [17]:
vegetables & fruits

{'Cucumber', 'Tomato', 'Watermelon'}

In [18]:
# Intersection_update updates the common elements in the first set
vegetables.intersection_update(fruits)

In [19]:
vegetables

{'Cucumber', 'Tomato', 'Watermelon'}

In [20]:
fruits

{'Apple', 'Cucumber', 'Orange', 'Tomato', 'Watermelon'}

Difference

In [21]:
only_vegetables = vegetables.difference(fruits)
only_vegetables

set()

In [22]:
only_fruits = fruits.difference(vegetables)
only_fruits

{'Apple', 'Orange'}

Symmetric Difference

In [23]:
# This determines the elements that are in one of the either sets but not in both

In [24]:
fruits_or_vegetables = vegetables.symmetric_difference(fruits)
fruits_or_vegetables

{'Apple', 'Orange'}

#### Subset and Superset Test

To check if a set is the subset or superset of another set. The operators <= and >= are used.

In [25]:
set_1 = {2,4,6,8,10}
set_2 = {2,4,10}

In [26]:
# subset
set_2 <= set_1

True

In [27]:
# Superset
set_1 >= set_2

True