Tuple is an ordered sequence of elements of different data types such as strings, integers, float, list or even a tuple.

It is non-scalar and is immutable.

Tuple is enclosed using parantheses and are separated by comma.

Tuple can contain homogeneous set of elements.

In [1]:
# Creation of tuple

t1 = (1,2,True,"hello")
t1

(1, 2, True, 'hello')

In [2]:
# Nested Tuple
t2 = (10,20,30,(40,50))
t2

(10, 20, 30, (40, 50))

In [3]:
# How to assign a single value to tuple

# Assigning single value and output the result
t3 = (10)
t3

10

In [4]:
type(t3)

int

In [5]:
# As the ove t3 returned type int. This indicates a singleton tuple needs comma followed by it to get characterised as tuple

In [6]:
# Adding comma
t4 = (10,)
t4

(10,)

In [7]:
type(t4)

tuple

In [8]:
# In addition, a sequence without parantheses is treated as tuple

seq = 5,10,15
seq

(5, 10, 15)

In [9]:
type(seq)

tuple

#### Accessing Elements in a Tuple

In [10]:
t1[0]

1

In [11]:
t1[-1]

'hello'

In [12]:
t1[20]

IndexError: tuple index out of range

#### Tuple is immutable

In [13]:
t1

(1, 2, True, 'hello')

In [14]:
t1[2] = 100

TypeError: 'tuple' object does not support item assignment

In [15]:
# However an element of a tuple may be of mutable type. example: List

t5 = (100,200,[250,300],400)
t5

(100, 200, [250, 300], 400)

In [16]:
t5[2][1] = 350
t5

(100, 200, [250, 350], 400)

#### Tuple Operations

Concatenation

In [17]:
# Concatenation of tuple using "+" symbol

In [18]:
t6 = (1,2,3)
t7 = (4,5,6)
t6+t7

(1, 2, 3, 4, 5, 6)

In [19]:
# Extension of tuple can also be done using "+" symbol
t7+(10,20)

(4, 5, 6, 10, 20)

In [20]:
t7 = t7+(10,20)
t7

(4, 5, 6, 10, 20)

Repetition

In [21]:
t8 = ("Hi","Hello")
t8*2

('Hi', 'Hello', 'Hi', 'Hello')

Membership

In [22]:
"Hi" in t8

True

In [23]:
"hello" in t8

False

Slicing

In [24]:
t5[1:3]

(200, [250, 350])

In [25]:
t5[:10]

(100, 200, [250, 350], 400)

In [26]:
t5[2:]

([250, 350], 400)

In [27]:
t5[-2:-1]

([250, 350],)

In [28]:
t5[3:1] # start index > end index => return of an empty tuple

()

In [29]:
t5[::-1] # reverse

(400, [250, 350], 200, 100)

#### Tuple methods and Built-in functions

len()

In [30]:
len(t1)

4

tuple()

In [31]:
tuple("Welcome")

('W', 'e', 'l', 'c', 'o', 'm', 'e')

In [32]:
tuple([1,2,3])

(1, 2, 3)

In [33]:
tuple(range(5))

(0, 1, 2, 3, 4)

count()

In [34]:
t9 = (10,20,10,10,30,20,40,50,60,60)
t9.count(10)

3

index()

In [35]:
t9.index(30)

4

sorted()

In [36]:
sorted(t9)

[10, 10, 10, 20, 20, 30, 40, 50, 60, 60]

min()

In [37]:
min(t9)

10

max()

In [38]:
max(t9)

60

sum()

In [39]:
sum(t9)

310

#### Tuple Assignment

This allows a tuple of variables on the left side of the assignement operator to be assigned respective values from a tuple on the right side.

The number of variables on the left should be same as the number of elements in the tuple

In [40]:
(num1,num2) = (10,20)

In [41]:
print("num1:",num1)
print("num2:",num2)

num1: 10
num2: 20

In [42]:
(num3,num4) = (1+2,3+4)
print("num3:",num3)
print("num4:",num4)

num3: 3
num4: 7

#-----------------------------------------------------------------------------------------------------------------------------#