Anonymous functions are those without a name.

_lambda_ keyword is used to define an anonymous function in python.

In [1]:
multi = lambda x: x*x

output = multi(10)

print(output)

100

__Syntax__

_lambda arguments : expression_

This function can have any number of arguments but only one expression, which is evaluated and returned.

lambda functions can be used wherever required.

lambda functions are syntatically restricted to a single expression.

#### Condition checking using lambda

In [2]:
int_float = lambda x: f"{x:,.2f}" if isinstance(x,int) else f"{int(x)}"

In [3]:
print('float to int:',int_float(1245.325))
print('int to float:',int_float(352))

float to int: 1245
int to float: 352.00

#### lambda with list comprehension

In [4]:
l_comp_multi = [lambda y=x:y*10 for x in range(1,5)]

for item in l_comp_multi:
    print(item())
    
    
# x is the current item in the iteration.
# Everytime in the loop it gets assigned to y and is printed.

10
20
30
40

#### lambda function with if-else

In [5]:
check_func = lambda a,b: a if (a>b) else b

check_func(4,2)

4

In [6]:
check_func(1,5)

5

#### lambda with multiple statements

In [7]:
l = [[5, 2,3,4],[1, 4, 64, 16],[3, 6, 9, 12]]

sortlist = lambda x: (sorted(i) for i in x)

largest = lambda x,y:[j[-1] for j in y(x)]

largest(l,sortlist)

[5, 64, 12]

## filter()

The filter() function accepts an object (an iterable) and returns a subsequence(an iterable object) based on given condition.

filter() accepts two arguments.

1. Function
2. iterable object (example: list, set, tuple etc.)

> Syntax

_filter(function,iterable)_

Parameters of filter():
    
* **function:** if this parameter is passed then each element of the sequence will be tested by this function. If not passed, then filter() will filter out all elements from the sequence that is False, 0, None, or an empty string.
    
* **iterable:** Any data structure that supports iteration, such as list, tuple, string etc.

In [8]:
# The output of filter is type-casted into a sequence type

In [9]:
# filter out even numbers from the list provided

l = [1,2,3,4,5,6,7,8,9,10]

eve_list = list(filter(lambda x:x%2 == 0,l))
eve_list

[2, 4, 6, 8, 10]

In [10]:
# filter vowels

def word_func(letter):
    vowels = ['a','e','i','o','u']
    if letter in vowels:
        return True
    else:
        return False

letters = ['a','b','c','d','e','f','g','h','i','j','k','l','m']    
vowel_list = list(filter(word_func,letters))
vowel_list

['a', 'e', 'i']

## map()

map() function executes the function_object(lambda function and a sequence) and returns a map object(iterator) of the results after applying the given function to each item of a given iterable(list, tuple etc.)

> Syntax

_map(fun,iter)_

Parameters:
    
* function: It is a function to which map passes each element of given iterable.

* iter: it is the iterable which is to be mapped.

In [11]:
# One or more iterables can be passed to the map function

In [12]:
def add_nums(a):
    return a+a

num_list = (1,2,3)
result = map(add_nums,num_list)
list(result)

[2, 4, 6]

In [13]:
# Multiply all numbers with 2

num = (1,2,3)
result = map(lambda x:x*2,num)
print(list(result))

[2, 4, 6]

In [14]:
# list out letters of words in a nested list

words = ['apple','python','tech']

output = list(map(list,words))
print(output)

[['a', 'p', 'p', 'l', 'e'], ['p', 'y', 't', 'h', 'o', 'n'], ['t', 'e', 'c', 'h']]

## reduce()

It applies a given function to the elements of the iterable, reducing them to a single value.

This performs a repetitive operation over the pairs of the sequence object.

> Syntax

_reduce(lambda_expression,sequence)_

In [15]:
from functools import reduce

list_num = [5,10,15,20]

reduce(lambda x,y:x+y,list_num) # Here, reduce is used to add all numbers and get the final sum of the list

50

In [16]:
# importing operator to perform operator functions such as add, multiply etc.
import operator
new_l = ['Hi','welcome','to','python']

reduce(operator.add,new_l)

'Hiwelcometopython'

## accumulate()

accumulate() preforms operations similar to reduce() but returns an iterator with intermediate results.

In [17]:
from itertools import accumulate

list_num = [5,10,15,20]

list(accumulate(list_num))

[5, 15, 30, 50]

In [18]:
# getting the max number

nums = [3,10,2,1,20,30,25,60,20,25]

list(accumulate(nums,max))

[3, 10, 10, 10, 20, 30, 30, 60, 60, 60]

In [19]:
# difference

S1 = {1,2,3,4}
S2 = {5,6,7,8}

list(accumulate(S2.difference(S1)))

# First difference is found and then addition is a carried out
# Here, It starts with the last number 8 and in the next step it adds with 5 = 13; next: 13+6 = 19; next 19+7=26
# These numbers 13, 19, 26 are checked against set S1

[8, 13, 19, 26]

In [20]:
# This is a normal Set difference 
S2.difference(S1)

{5, 6, 7, 8}

## enumerate()

The enumerate method adds counter to an iterable and returns it in the form of an enumerating object. This enumerated object can then be directly used for loops or converted into a list of tuples using the list() function.

> Syntax

_enumerate(iterable,start = 0)_

Parameters

* iterable: any object that supports iteration
* Start: the index value from which the counter is to be started, by default it is 0.

In [2]:
l1 = ['Hi','Hello','Welcome']
var1 = "Python"

obj1 = enumerate(l1)
obj2 = enumerate(var1)

print(type(obj1))
print(list(obj1))

# Setting the index position to start from 3
print(list(enumerate(var1,3)))

<class 'enumerate'>
[(0, 'Hi'), (1, 'Hello'), (2, 'Welcome')]
[(3, 'P'), (4, 'y'), (5, 't'), (6, 'h'), (7, 'o'), (8, 'n')]

In [7]:
l3 = ['A','B','C','D']

for i,j in enumerate(l3):
    print(i,j)

0 A
1 B
2 C
3 D